{% extends "with-title.html" %}
<!--  -->

{% block linkedData %} {% endblock linkedData %}
<!-- -->
{% block content %}

<div class="cv-container">
  <h4 class="cv-h4">Skills</h4>
  <div class="cv-h4-container">
    <p class="cv-skills">
      Typescript, Haskell, Elm, Rust, C#, Python, PWA, React, html, css, sass,
      REST API, Document Databases, Graph Databases, Cardano, NFTs,
      Self-Sovereign Identity, Linked-Data, IPFS, Crypto, functional
      programming, object-oriented programming, web3, design, Docker, .Net, git,
      CI/CD, test-driven development, GCP, AWS, AWS CDK, Serverless, Firebase,
      SQL, WebRTC, Machine Learning
    </p>
  </div>
  <h4 class="cv-h4">Experience</h4>
  <div class="cv-h4-container">
    <h5 class="cv-h5">Fullstack IT Consultant</h5>
    <div class="cv-h5-container">
      <p class="cv-sub-title">GESHDO - Full-time</p>
      <p class="cv-period">May 2022 - Present</p>

      <div>
        <p>
          At GESHDO I've worked on a wide range of projects, everything from
          building a new product from scratch to adding new features to existing
          products. I've held multiple TechTalks on topics such as blockchain,
          and parser combinators as well as mentored junior developers.
        </p>
        <p>Key Responsibilities:</p>
        <ul>
          <li>Consulting for clients</li>
          <li>Fullstack development</li>
          <li>Mentor junior developers</li>
        </ul>
      </div>
    </div>

    <h5 class="cv-h5">Self Employed</h5>
    <div class="cv-h5-container">
      <p class="cv-sub-title">Generative Studios - Full-time</p>
      <p class="cv-period">Jul 2021 - May 2022</p>

      <div>
        <p>
          After graduation, I sold NFTs on the Cardano blockchain through my own
          storefront. As an early entry, I was able to sell my art for a good
          profit. As the market cooled down I pivoted and created Atomic Swap, a
          p2p dApp to trustlessly trade assets (NFTs, tokens, etc.) between
          wallets on Cardano. Atomic Swap sees about 2 tx/day as of September
          2023.
        </p>
        <p>Key Responsibilities:</p>
        <ul>
          <li>Taxes, accounting, and other administrative tasks</li>
          <li>Customer Support</li>
          <li>Design/Art/UX</li>
          <li>Marketing</li>
          <li>Development</li>
        </ul>
      </div>
    </div>

    <h5 class="cv-h5">Backend Developer</h5>
    <div class="cv-h5-container">
      <p class="cv-sub-title">Infrasight Labs - Part-time</p>
      <p class="cv-period">Jan 2020 - Dec 2020</p>
      <div>
        <p>
          Worked as a backend developer in a small team building an IT
          infrastructure management tool. It provides a single view of the
          entire IT infrastructure at a copy from licenses, to servers, to
          network devices, and personal computers.
        </p>
        <p>Key Responsibilities:</p>
        <ul>
          <li>
            Worked as a part of a small team using agile software development
            methods
          </li>
          <li>Backend Development</li>
          <li>Integrated multiple new data sources into our graph database.</li>
        </ul>
      </div>
    </div>

    <h5 class="cv-h5">Programming Tutor</h5>
    <div class="cv-h5-container">
      <p class="cv-sub-title">
        The Faculty of Engineering at Lund University - Part-time
      </p>
      <p class="cv-period">Aug 2017 - Dec 2017</p>
      <div>
        <p>
          Tutoring first-year students in Scala in an introductory course to
          programming.
        </p>
        <p>Key Responsibilities:</p>
        <ul>
          <li>Tutoring</li>
          <li>GradingTutoring</li>
        </ul>
      </div>
    </div>

    <h5 class="cv-h5">Laboratory Assistant</h5>
    <div class="cv-h5-container">
      <p class="cv-sub-title">GE Healthcare - Part-time</p>
      <p class="cv-period">Sep 2015 - Jun 2016</p>
      <div>
        <p>
          Helped to prepare (and performed some) analyses of chromatography
          media.
        </p>
        <p>Key Responsibilities:</p>
        <ul>
          <li>Mixing solutions for different analyses</li>
          <li>Perform simple analyses</li>
          <li>Janitorial work</li>
        </ul>
      </div>
    </div>
  </div>

  <h4 class="cv-h4">Education</h4>
  <div class="cv-h4-container">
    <h5 class="cv-h5">M.Sc.Eng. at Lund University</h5>
    <div class="cv-h5-container">
      <p class="cv-sub-title">Software engineering, machine learning</p>
      <p class="cv-period">2016 - 2021</p>
      <div>
        <p>
          Heavy focus on the fundamentals of computer science and software
          engineering. For my specialization, I selected courses in machine
          learning, AI, and mathematics.
        </p>

        <p>
          My thesis explored how to reduce the rate of false positive alarms in
          static analysis tools. We implemented a prototype by extending JavaDL,
          a custom programming language for static analysis, to use machine
          learning to find false positives.
        </p>
        <p>
          <b>Thesis:</b>

          <a
            href="https://lup.lub.lu.se/student-papers/search/publication/9060476"
            >Filtering False Positive Alarms in JavaDL and Language Experience
            Report</a
          >
        </p>
        <p><b>Courses:</b></p>
        <table>
          <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Credits</th>
          </tr>
          <tr>
            <td>Degree Project in Computer Sciences for Engineers</td>
            <td>EDAM05</td>
            <td>30.0 hp</td>
          </tr>
          <tr>
            <td>
              Introduction to Artificial Neural Networks and Deep Learning
            </td>
            <td>EXTQ40</td>
            <td>7.5 hp</td>
          </tr>
          <tr>
            <td>Mathematical Statistics, Time Series Analysis</td>
            <td>FMSN45</td>
            <td>7.5 hp</td>
          </tr>
          <tr>
            <td>Optimization for Learning</td>
            <td>FRTN50</td>
            <td>7.5 hp</td>
          </tr>
          <tr>
            <td>Advanced Computer Security</td>
            <td>EITN50</td>
            <td>7.5 hp</td>
          </tr>
          <tr>
            <td>Machine Learning</td>
            <td>FMAN45</td>
            <td>7.5 hp</td>
          </tr>
          <tr>
            <td>Network Dynamics</td>
            <td>FRTN30</td>
            <td>7.5 hp</td>
          </tr>
          <tr>
            <td>Algebraic Structures</td>
            <td>FMAN10</td>
            <td>7.5 hp</td>
          </tr>
          <tr>
            <td>Monte Carlo and Empirical Methods for Stochastic Inference</td>
            <td>FMSN50</td>
            <td>7.5 hp</td>
          </tr>
          <tr>
            <td>Applied Machine Learning</td>
            <td>EDAN95</td>
            <td>7.5 hp</td>
          </tr>
          <tr>
            <td>Optimization</td>
            <td>FMAN60</td>
            <td>6.0 hp</td>
          </tr>
          <tr>
            <td>Stationary Stochastic Processes</td>
            <td>FMSF10</td>
            <td>7.5 hp</td>
          </tr>
          <tr>
            <td>Multicore Programming</td>
            <td>EDAN26</td>
            <td>7.5 hp</td>
          </tr>
          <tr>
            <td>Matrix Theory</td>
            <td>FMAN70</td>
            <td>6.0 hp</td>
          </tr>
          <tr>
            <td>Queuing System</td>
            <td>EITF95</td>
            <td>4.5 hp</td>
          </tr>
          <tr>
            <td>Signal Processing in Multimedia</td>
            <td>EITA50</td>
            <td>7.5 hp</td>
          </tr>
          <tr>
            <td>Computer Security</td>
            <td>EITA25</td>
            <td>7.5 hp</td>
          </tr>
          <tr>
            <td>
              Sustainability and Resource Use with Perspectives on Information
              and Communication Technology
            </td>
            <td>FMIF45</td>
            <td>4.0 hp</td>
          </tr>
          <tr>
            <td>Numerical Analysis</td>
            <td>FMNF05</td>
            <td>6.0 hp</td>
          </tr>
          <tr>
            <td>The Business of Software</td>
            <td>ETSF25</td>
            <td>7.5 hp</td>
          </tr>
          <tr>
            <td>Automatic Control, Basic Course</td>
            <td>FRTF05</td>
            <td>7.5 hp</td>
          </tr>
          <tr>
            <td>Concurrent Programming</td>
            <td>EDAF55</td>
            <td>6.0 hp</td>
          </tr>
          <tr>
            <td>Mathematical Statistics, Basic Course</td>
            <td>FMSF45</td>
            <td>9.0 hp</td>
          </tr>
          <tr>
            <td>Algorithms, Data Structures and Complexity</td>
            <td>EDAF05</td>
            <td>5.0 hp</td>
          </tr>
          <tr>
            <td>Functional Programming</td>
            <td>EDAN40</td>
            <td>7.5 hp</td>
          </tr>
          <tr>
            <td>Electronics</td>
            <td>EITA10</td>
            <td>5.0 hp</td>
          </tr>
          <tr>
            <td>Computer Organization</td>
            <td>EITF70</td>
            <td>6.0 hp</td>
          </tr>
          <tr>
            <td>Applied Mathematics - Linear Systems</td>
            <td>FMAF10</td>
            <td>5.0 hp</td>
          </tr>
          <tr>
            <td>Software Development in Teams - Project</td>
            <td>EDAF45</td>
            <td>7.5 hp</td>
          </tr>
          <tr>
            <td>Object-oriented Modelling and Design</td>
            <td>EDAF60</td>
            <td>4.5 hp</td>
          </tr>
          <tr>
            <td>Computer Communication</td>
            <td>EITF45</td>
            <td>7.5 hp</td>
          </tr>
          <tr>
            <td>Design of Digital Circuits - A Systems Approach</td>
            <td>EITF65</td>
            <td>9.0 hp</td>
          </tr>
          <tr>
            <td>Calculus in Several Variables</td>
            <td>FMAB30</td>
            <td>6.0 hp</td>
          </tr>
          <tr>
            <td>Programming - Second Course</td>
            <td>EDAA01</td>
            <td>7.5 hp</td>
          </tr>
          <tr>
            <td>Evaluation of Software Systems</td>
            <td>EDAA35</td>
            <td>7.0 hp</td>
          </tr>
          <tr>
            <td>Discrete Structures in Computer Science</td>
            <td>EDAA40</td>
            <td>5.0 hp</td>
          </tr>
          <tr>
            <td>Photonics</td>
            <td>FAFA60</td>
            <td>5.0 hp</td>
          </tr>
          <tr>
            <td>Linear Algebra</td>
            <td>FMA420</td>
            <td>6.0 hp</td>
          </tr>
          <tr>
            <td>Computer Introduction</td>
            <td>EDA070</td>
            <td>3.0 hp</td>
          </tr>
          <tr>
            <td>Introduction to Programming</td>
            <td>EDAA45</td>
            <td>7.5 hp</td>
          </tr>
          <tr>
            <td>Calculus in One Variable</td>
            <td>FMAA05</td>
            <td>15.0 hp</td>
          </tr>
          <tr>
            <td>Cognition</td>
            <td>TEK210</td>
            <td>4.5 hp</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
