{% extends "with-title.html" %}
<!--  -->

{% block linkedData %} {% endblock linkedData %}
<!-- -->
{% block content %}

<div class="cv-container">
  <h4 class="cv-h4">Skills</h4>
  <div class="cv-h4-container">
    <p class="cv-skills">
      Typescript, Javascript, Haskell, Elm, Python, Java, Scala, PWA, WebGL, web
      api:s, React, html, css, sass, REST, Document Databases, Graph Databases,
      Cardano, NFTs, Self-Sovereign Identity, Linked-Data, IPFS, Crypto,
      functional programming, object-oriented programming, web3, UX, design
    </p>
  </div>
  <h4 class="cv-h4">Experience</h4>
  <div class="cv-h4-container">
    <h5 class="cv-h5">IT Consultant</h5>
    <div class="cv-h5-container">
      <p class="cv-sub-title">GESHDO - Full-time</p>
      <p class="cv-period">May 2022 - Present</p>
    </div>

    <h5 class="cv-h5">Self Employed</h5>
    <div class="cv-h5-container">
      <p class="cv-sub-title">Generative Studios - Full-time</p>
      <p class="cv-period">Jul 2021 - May 2022</p>
    </div>

    <h5 class="cv-h5">Backend Developer</h5>
    <div class="cv-h5-container">
      <p class="cv-sub-title">Infrasight Labs - Part-time</p>
      <p class="cv-period">Jan 2020 - Dec 2020</p>
    </div>
  </div>

  <h4 class="cv-h4">Education</h4>
  <div class="cv-h4-container">
    <h5 class="cv-h5">M.Sc.Eng. at Lund University</h5>
    <div class="cv-h5-container">
      <p class="cv-sub-title">Software engineering, machine learning</p>
      <p class="cv-period">2016 - 2021</p>
    </div>
  </div>
</div>

{% endblock content %}
